footer {
    background-color: #3366ff;
    .secciones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        .sec {
            align-content: center;
            place-self: center;
            .tit-footer {
                text-align: center;
                width: 100%;
                font-size: 24px;
                font-weight: 700;
                color: white;
            }
            .links {
                p {
                    color: white;
                    text-align: center;
                }
            }
        }
    }
    .copyright {
        margin-top: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
        .alkila-logo {
            margin-right: 2em;
            display: flex;
            .icono-casa {
                background-color: white;
                padding: 6.5px;
                width: 23px;
                height: 23px;
                margin-top: 20px;
                margin-right: 2px;
                clip-path: circle(50% at 50% 50%);
                font-size: 20px;
            }
            h1 {
                color: white;
            }
        }
        .derreser {
            p {
                color: white;
                font-weight: 700;
            }
        }
    }
}

svg.svg-inline--fa.fa-house-user.fa-w-18.fa-fw.fa-2x {
    margin-top: 2.5px;
    /* margin-right: 12px; */
    margin-left: -1px;
}