.mainpage {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('~@/assets/mountains-gfb9370467_1920.jpg');
    background-position: center center;
    background-size: cover;
    .contenido-mainpage {
        display: flex;
        flex-direction: column;
        margin-bottom: 1em;
        h2 {
            margin: 0 1.5em 0 0;
            color: white;
            font-size: 60px;
            text-align: left;
        }
        p {
            color: white;
            width: 800px;
            text-align: left;
        }
        input {
            max-width: 800px;
            height: 2em;
        }
    }
}